<div class="map-container" style="position: relative; height: 500px;">
  <div class="map-frame"style="position: relative;height: inherit;width: inherit;">
    <div id="map" ></div>
  </div>
</div>
<div class='pointer'></div>

<div>
  <button (click)="changePositionGeolocation()">Me géolocaliser</button>
  <input matInput placeholder="Entrer le nom d'une ville" [formControl]="search" [value]="search.value" (keyup)="keyupCallback()" />
</div>

<div>
  <h3> Sélectionnez vos préférences</h3>
  <div>
    <input type="checkbox" id="lime">
    <label for="lime">Lime</label>

    <input type="checkbox" id="voi">
    <label for="voi">Voi</label>

    <input type="checkbox" id="scoot">
    <label for="scoot">City Scoot</label>

    <button (click)="filteredVehicles()">
      Filtrer
    </button>
  </div>
</div>

<ul>
  <li *ngFor="let city of cities"><button (click)="changePosition(city)">{{city.label}}</button></li>
</ul>
<app-vehicles [vehicles]="vehicles"></app-vehicles>
<router-outlet></router-outlet>
