<ion-list>
  <ion-list-header>
    Vehicle's list
  </ion-list-header>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bird
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ion-item *ngFor="let _b of bird">
        <ion-avatar slot="start">
          <img src="{{logo}}">
        </ion-avatar>
        <ion-label>
          <h2>{{_b.provider.name}}</h2>
      
          <p>{{_b.lng}}, {{_b.lat}}</p>
        </ion-label>
      </ion-item>
    </mat-expansion-panel>
    
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lime
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ion-item *ngFor="let _l of lime">
        <ion-avatar slot="start">
          <img src="{{logo}}">
        </ion-avatar>
        <ion-label>
          <h2>{{_l.provider.name}}</h2>
  
          <p>{{_l.lng}}, {{_l.lat}}</p>
        </ion-label>
      </ion-item>
    </mat-expansion-panel>
  
  </mat-accordion>
  

  
</ion-list>
