<ion-list>
  <ion-list-header>
    Vehicle's list
  </ion-list-header>
  <mat-accordion *ngFor="let name of vehicleName">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ion-item *ngFor="let _v of getTabByName(name)">
        <ion-avatar slot="start">
          <img src="{{logo}}">
        </ion-avatar>
        <ion-label>
          <h2>{{_v.provider.name}}</h2>
      
          <p>{{_v.lng}}, {{_v.lat}}</p>
        </ion-label>
      </ion-item>
    </mat-expansion-panel>
    
  </mat-accordion>
  
</ion-list>
